/*Universal styles*/
body {
  font-family: Helvetica;
  font-size: 18px;
}
h1 {
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1;
  padding: 1em 0em 0.5em 0em;
}
h2 {
  font-weight: lighter;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0em 0em 0.5em 0em;
}
 p {
   font-weight: normal;
   font-size: 1rem;
   line-height: 1;
   padding: 0em 0em 0.5em 0em;
 }
.flex {
  display: flex;
}

/*header and navigation*/
.moreweight {
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
nav div {
  display: flex;
  align-items: center;
  }

nav div {
  height: 32px;
}
.academy-title img {
  padding: 0 0 0 24px;
}

ul li {
  display: inline;
}
.main li {
  padding: 0px 8px 0px 0px;
}
.main {
  padding: 0px 24px 0px 0px;
}
/*Main-Banner*/

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-banner {
  position: relative;
  width: 40%;

}
 .flex img {
  width: 60%;
  margin: 32px 24px;
}
.main-banner .button {
  background-color: grey;
  color: white;
  padding:8px 0px;
  position: absolute;
  text-align: center;
  width: 15rem;
}
