/*Universal styles*/
html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #424242
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.5;
  padding: 0rem;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1em 0em 1em 0em;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5em 0em 0.5em 0em;
 }

a {
  text-decoration: none;
  color: #424242;
 }

a:link {
     background-color: none;
 }

a:visited {
     background-color: none;
 }

a:hover {
     text-decoration: underline;

 }

a:active {
     border: 1px dotted;
     border-radius: 2px;
     padding: 2px;
 }

/*header and navigation*/
.moreweight {
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
nav div {
  display: flex;
  align-items: center;
  }

nav div {
  height: 32px;
}

.mobile  {
  display: none;
}

.academy-title {
  font-size: 1.75rem;
  font-family: 'Quicksand', sans-serif;
}


.academy-title img {
  padding: 0 0 0 24px;
}

ul li {
  display: inline;
}

.main li {
  padding: 0px 8px 0px 0px;
}

.main {
  padding: 0px 24px 0px 0px;
}

/*main-container*/

.main-container {
  max-width: 1280px;
  margin: auto;
}

/*container1*/
.container1 {
  display: flex;
  align-items: center;
  background-color: #C0C0C0;
}

.item1 {
  width: 55%;
  padding: 2rem;
}

.item1 img {
width: 100%;
height: auto;
}

.item2 {

padding-left: 1rem;
max-width: 25%;
}

button {
text-align: center;
text-decoration: none;
background-color: #3B3B3B;
color: white;
padding:1rem;
width: 100%;
border: none;
border-style: none;
text-transform: uppercase;
font-family: 'Quicksand', sans-serif;
font-size: 1.3rem;
font-weight: 500;
border-radius: 2px;
cursor: pointer;
transition: all 0.5s;
outline: none;
}

button:hover {
  background-color: #696969;
}

button:focus {
  outline: 1px dotted;
  background-color: #696969;
}

 /*container2*/

.container2 {
  display: flex;
  margin: 32px 24px;
}

.item2-1 {
  width: 60%;
  padding: 16px 24px 0px 0px;
}

.item2-1 img {
  width: 100%;
}

.item2-1 h1 {
  padding: 32px 0px 24px 0px;
}

.item2-2 {
  width: 40%;

}

.item2-2 img {
  width: 35%;
  height: auto;
  padding: 16px 16px;
}

.item2-2-a {
  display: flex;
  align-items: center;
}

.item2-2-a:hover {
  background-color: #C0C0C0;
  border-radius: 2px;
  cursor: pointer;
  transition: all 2s;
}

.item2-3-b {
  display: flex;
  align-items: center;

}
.item2-3-b:hover {
  background-color: #C0C0C0;
  border-radius: 2px;
  cursor: pointer;
  transition: all 2s;
}

.item2-4-c {
  display: flex;
  align-items: center;
}

.item2-4-c:hover {
  background-color: #C0C0C0;
  border-radius: 2px;
  cursor: pointer;
  transition: all 2s;
}

.item-description {
flex-direction: column;
padding: 8px 0px;
}

.mobile-container2 {
  display: none;
}

/*container3*/

.courses {
  margin: auto;
  max-width: 1280px;
  background-color: #D1D1D1;
}

.course-heading {
  padding: 2rem 1.5rem;
  text-align: center;
}

.course-list {
display: flex;
justify-content: center;
flex-wrap: wrap;
padding-bottom: 2rem;
margin: 0rem 2rem;
}

.course-items {
  max-width: 30%;
  margin: 1rem;
  background-color: white;
  box-shadow: 5px 10px 18px #8787A7;
  transition: box-shadow .5s;
}

.course-items:hover {
    box-shadow: 5px 10px 18px #3B3B3B;
    cursor: pointer;
}

  .course-items img {
    max-width: 100%;
    height: auto;
}

.course-description {
  padding: 0rem 1rem 1rem 1rem;
}

.course-description h2{
  padding: 0.5em 0em 0.5em 0em;
}

.course-description h3 {
  text-transform: uppercase;
  }

.mobile-course-section{
  display: none;
}

/*mobile-container3*/
.mobile-course-items {
  background-color: #3B3B3B;
  color: #ffffff;
  border-radius: 2px;
  border-style: dotted;
  margin: 1rem 1rem 0.5rem 1rem;
  padding: 1rem 1rem;
  align-items: center;
}

.mobile-course-items:hover {
  background-color: #696969;
  border-radius: 2px;
  cursor: pointer;
  transition: all 1.5s;
}

 /*--container4--*/
.thesis-container {
  display: flex;
}

.item-video {
  width: 60%;
  padding-right: 1rem;
}

video {
  width: 100%;
}

.video-description {
  padding: 1.5rem 1rem 2rem 0;
}

.video-description h1{
  padding-bottom: 1.25rem;
}

.feature {
  width: 40%;
}

.feature-item1 {
  display: flex;
  align-items: center;
}

.feature-item1 img {
  width: 35%;
  height: auto;
  padding: 0 1rem 1rem 1rem;
}

.feature-item1:hover {
  background-color: #C0C0C0;
  border-radius: 2px;
  cursor: pointer;
  transition: all 2s;
}

.feature-description {
  flex-direction: column;
  padding: 0.5rem 0;
}

.feature-item2 {
  display: flex;
  align-items: center;
}

.feature-item2 img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.feature-item2:hover {
  background-color: #C0C0C0;
  border-radius: 2px;
  cursor: pointer;
  transition: all 2s;
}

.thesis-header {
  align-items: center;
  padding: 2rem 0rem;
  text-align: center;
}
/*footer*/

footer  {
  display: flex;
  justify-content: space-between;
  background-color: #3B3B3B;
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
}
footer a  {
  color:inherit;

}
footer a:hover {
  text-decoration: underline;
}

footer a:active {
     border: 1px dotted;
     border-radius: 2px;
     padding: 2px;
 }

/*Responsive-design*/

/*tablet*/
@media only screen and (max-width: 820px) {
h1 {
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1.2;
 }

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0rem;
 }

h2 {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1;
  padding: 0.5rem 0rem 0.5rem 0rem;
 }

h3 {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1;
 }

p {
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.5rem 0rem 0.5rem 0rem;
 }

.course-list {
  margin: 0;
 }

.course-items {
  max-width: 25%;
 }

button {
  margin-top: 1rem;
 }
}

/*Mobile*/
@media only screen and (max-width: 600px) {
h1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
 }

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
 }

p {
  font-size: 1rem;
  padding: 0 0 0.5rem 0;
 }

nav {
  height: 4rem;
  margin: 0rem 1rem;
  display: none;
 }

nav.mobile  {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.main  {
  display: none;
 }

.academy-title {
    display: none;
 }

/*--container1--*/
.main-container {
  max-width: 100%;
 }

.container1 {
  flex-direction: column;
  max-width: 100%;
 }

.item1 {
  width: 100%;
  padding: 0rem;
 }

.item2{
 max-width: 100%;
 padding: 2rem 1rem;
 }

button {
  margin-top: 1rem;
}

/*--container2--*/

.container2{
  display: none;
 }

.item2-2 {
  width: 100%;
  padding: 1rem;
 }

.mobile-container2{
  display: block;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 2rem;
 }

.mobile-item-description {
  padding: 0rem 0rem 0rem 1rem;
  margin: 1rem 0;
}

.mobile-container2 img {
  width: 100%;
 }

   /*--container3--*/

.course-list {
  display: none;
 }

.mobile-course-section {
  display: block;
 }

.course-heading{
  padding: 0rem 1.5rem;
}

.courses {
  background-color: white;
  }

.video-description {
  display: none;
  }

.feature {
  display: none;
 }

.thesis-header {
  padding: 1rem 0rem;
 }

.item-video {
  width: 100%;
  padding-right: 0rem;
  margin-bottom: 1rem;
 }

.footer-links {
  display: none;
 }
}
